astroid==1.4.4
colorama==0.3.7
Django==1.9.4
django-filter==0.13.0
django-jenkins==0.18.1
django-leaflet==0.18.1
flake8==2.5.4
lazy-object-proxy==1.2.1
mccabe==0.4.0
pep8==1.7.0
pyflakes==1.0.0
pylint==1.5.4
six==1.10.0
wrapt==1.10.6
-e git+git://github.com/annaproch/django-datatable-view#egg=master
