@import "variables";

@mixin dataTables_base_input {
  font-family: $font-stack;
  width: auto;
  padding: 0.2em;
  font-size: 1em;
  border: 1px solid $label-grey;
  border-radius: 0;
  height: 2em;
  appearance: none;
}

.dataTables_base_helpers {
  margin: 0.5em auto;
  font-family: $font-stack;
  font-size: small;
  label {
    margin: 0;
    font-weight: 900;
    color: $label-grey;
  }
}

.dataTables_wrapper {
  margin: 0.5em 0.5em;
}

.dataTables_length {
  @extend .dataTables_base_helpers;
  select {
    @include dataTables_base_input;
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat transparent right;
    background-position-x: calc(100% - 0.2em);
    padding-right: 20px;
  }
}

.dataTables_filter {
  @extend .dataTables_base_helpers;
  input {
    @include dataTables_base_input;
  }
  a {
    text-decoration: none;
    color: $label-grey;
  }
}

.dataTables_info {
  @extend .dataTables_base_helpers;
}

.dataTables_paginate {
  @extend .dataTables_base_helpers;
}

.dataTable {
  font-family: $font-stack;
  font-size: smaller;
  thead {
    background-color: #F9F8F5;
    color: $label-grey;
  }
  a {
    color: $link-green;
  }
}