{% load static %}

<script src="{% static 'django_querybuilder/libs/leaflet/dist/leaflet.js' %}"></script>
<script src="{% static 'django_querybuilder/libs/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'django_querybuilder/libs/jquery-ui/jquery-ui.min.js' %}"></script>
<script src="{% static 'django_querybuilder/libs/jquery-ui/ui/tabs.js' %}"></script>
<script src="{% static 'django_querybuilder/libs/datatables/media/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'django_querybuilder/libs/jquery-deserialize/dist/jquery.deserialize.min.js' %}"></script>
<script src="{% static 'django_querybuilder/libs/freewall/freewall.js' %}"></script>

<script src="{% static 'django_querybuilder/js/filterui.js' %}"></script>
<script src="{% static 'django_querybuilder/js/querybuilderapi.js' %}"></script>
<script src="{% static 'django_querybuilder/js/table.js' %}"></script>
<script src="{% static 'django_querybuilder/js/map.js' %}"></script>
<script src="{% static 'django_querybuilder/js/datatableview.js' %}"></script>