{% load leaflet_tags %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> City filter and map example </title>
    {% include "django_querybuilder/css_assets.html" %}
    {% include "django_querybuilder/js_assets.html" %}
    {% block extra_assets %}
        {% leaflet_js %}
        {% leaflet_css %}
    {% endblock %}
    <style>
        body {
            margin: 50px;
        }

        #city-map {
            width: 100%;
            height: 300px;
        }
    </style>
</head>
<body>
    <div>
        {{ city_filterform }}
    </div>
    <div>
        {{ city_map }}
    </div>
</body>
</html>