<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Django Querybuilder examples</title>
</head>
<body>
<h1>Django Querybuilder examples</h1>
<p>You can add or remove models in <a href="{% url 'admin:index' %}">admin</a>.</p>
<ul>
  <li><a href="{% url 'book-table' %}">Book table with filtering</a></li>
  <li><a href="{% url 'city-map-filter' %}">Map with filter</a></li>
  <li><a href="{% url 'city-filter' %}">Filter only</a></li>
  <li><a href="{% url 'city-map' %}">Map only</a></li>
</ul>

</body>
</html>